.headerInfo{
    background-color:red;
    height:80px;
}

.mrg0{
    margin: 0px;;
}
.btn_create{
    position: absolute;
    right: 6%;
    top: 2.6%;
    padding: 12px 20px;
    background-color: red;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;
}

.login_text{
    position: absolute;
    right: 18%;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    top: 4%;
}

.logo{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 15px 8%;
    text-align: center;
    font-size: 36px;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0px;
}
.e_text{
    margin-top: 3px;
    display: inline-block;
}
.infoClass{
    padding: 30px 8%;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0px;
}
.wd_30{
    float: left;
    width: 30%;
}
.wd_70{
    float: left;
    width: 70%;
}
.wd_90{
  float: left;
  box-shadow: 0px 4px 12px #00000029;
  width: 55%;
  background: #FBFBFB 0% 0% no-repeat padding-box;
  margin-left: 28%;
  height: 650px;
  margin-bottom: 40px;
}
.pd_20{
    padding: 20px;
}
.mrgb_20{
    margin-bottom:20px;
}
.filter{
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 10px;
    color: #192F60;
}
.sel_location{
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #192F60;
  padding-bottom: 10px;
  opacity: 0.8;
  display:inherit;
}
.sel_loc{
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #192F60;
  padding-bottom: 10px;
  opacity: 0.8;
  padding-left: 5px;
}
.sel_loc1{
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    color: #192F60;
    padding-bottom: 5px;
    opacity: 0.8; 
}
.sel_loc2{
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  color: #192F60;
  padding-bottom: 10px;
  opacity: 0.8; 
}
.selection{
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #8C96AB;
    color: #8c96ab;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
}

input[type="checkbox"]{
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .txt_type{
    margin-bottom: 10px;
    color: #8C96AB;
    font-family: sans-serif;
    font-size: 13px;
  }
  input[type="radio"]{
    width: 17px;
    height: 17px;
    position: relative;
    top: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .dish_order{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 12px #00000029;
    opacity: 1;
    width: 85%;
    height: auto;
  }
  .dish_img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
  }
  .pd_25{
    padding: 30px 50px;
  }
  .restAdd{
    color: #8c96ab;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
  }
  .wd_20{
    width:20%;
    float:left;
  }
  .pdt_20{
    padding-top:20px;
  }
  .big_char{
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 5px;
    color: #192F60;
    font-size: 30px
  }

  .sec_1{
    padding: 30px 25px;
    margin: 0px 20px;
  }

  .brdr_btm{
    border-bottom: 2px solid #DEDFE5;
    width: 90%;
    opacity: 0.4;
  }

  .mrgt_35px{
    margin-top:35px;
  }

  .pg_nmbr{
    border: 1px solid #8C96AB;
    border-radius: 7px;
    opacity: 1;
    padding: 5px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }
  .pg_nmbr1{
    border: 1px solid #8C96AB;
    border-radius: 7px;
    opacity: 0.4;
    padding: 5px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }
  .pg_sel{
    border: 1px solid #8C96AB;
    border-radius: 7px;
    opacity: 1;
    padding: 5px 10px;
    background: #8C96AB 0% 0% no-repeat padding-box;
  }
  .pdtb30_rl30{
    padding:30px 30%;
  }